



<div style="padding: 10px 15px;" class="row">

    <div class="col-sm-12 col-sm-3 col-md-2 rtc-video panel panel-default pin">
        <div class="panel-heading">Peer {{local.uuid}}</div>
        <div class="panel-body center">
            <div id="video{{local.id}}" class="video-holder">
            </div>
            <div class="navbar-default cntrls row">
                <div class="col-sm-3 col-sm-3 col-xs-3"><button ng-click="webrtc.hangup()" type="button" class="btn btn-default navbar-btn">Hangup <span class="glyphicon glyphicon-remove"></span></button></div>
                <div class="col-sm-3 col-sm-3 col-xs-3"><button ng-click="webrtc.toggleMuteAudio()" type="button" ng-class="{mute:webrtc.muteAudio}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-headphones"></span></button></div>
                <div class="col-sm-3 col-sm-3 col-xs-3"><button ng-click="webrtc.toggleMuteVideo()" type="button" ng-class="{mute:webrtc.muteVideo}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-facetime-video"></span></button></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-sm-5 col-md-5  rtc-video panel panel-default pin" ng-repeat="peer in peers">
        <div class="panel-heading">Peer {{peer.uuid}}</div>
        <div class="panel-body center">
            <div id="video{{peer.id}}" class="video-holder">
            </div>
            <div class="navbar-default cntrls row">
                <div class="col-sm-3 col-sm-3 col-xs-3"><button ng-click="webrtc.hangup()" type="button" class="btn btn-default navbar-btn">Hangup <span class="glyphicon glyphicon-remove"></span></button></div>
                <div class="col-sm-3 col-sm-3 col-xs-3"><button ng-click="webrtc.toggleMuteAudio()" type="button" ng-class="{mute:webrtc.muteAudio}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-headphones"></span></button></div>
                <div class="col-sm-3 col-sm-3 col-xs-3"><button ng-click="webrtc.toggleMuteVideo()" type="button" ng-class="{mute:webrtc.muteVideo}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-facetime-video"></span></button></div>
            </div>
        </div>
    </div>


</div>

<button class="btn btn-primary chat" ng-click="toggleChat()">
    <span class="glyphicon glyphicon-pencil"></span>
    CHAT
</button>


<div class="rtc-txt panel panel-default row" ng-class="{active:chat.active}">
    <div class="panel-body">
        <div class="history">
            <span>test</span>
            <span ng-repeat="msg in msgs"></span>
        </div>
        <div class="input-group">
            <input type="text" ng-model="message" placeholder="Message to send" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="sendMessage(message)" type="button">Send!</button>
                </span>
        </div><!-- /input-group -->
    </div>
</div>




